html,
body {
    width: 100%;
}

body {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'maison', sans-serif;
    margin-top: 32px;
}

* {
    margin: 0;
    padding: 0;
    color: #000;
}

h1 {
    font-size: 30px;
}

p {
    margin: 0 0 32px 0;
    padding: 0;
    font-size: 14px;
}

a, a:hover {
    color: #000;
    text-decoration: none;!important;
}



ul {
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 32px;
}

@font-face {
    font-family: maison;
    src: url(../fonts/maison-mono.otf)
}



img {
    width: 100%;
    height: auto;
}

.back-link {
  -moz-font-feature-settings: "salt" 2;
  -webkit-font-feature-settings: "salt" 2;
  font-feature-settings: "salt" 2;
}


/* good luck being old */
.map-container {
    width: 100%;
}

#map {
    width: 100%;
    z-index: 0!important;
    height: calc(100vh - 20vh);
    box-sizing: border-box;
    overflow: hidden;
}


/* peninsula & here / there galleries */
.sticky-spacer {
    margin-bottom: 32px;
}

.sticky-header {
    position: fixed;
    z-index: 100000;
}

.hidden {
    display: none;
}

.gallery-nav {
    -webkit-user-select: none;
    user-select: none;
    font-size: 14px;
}

.disabled {
    cursor: default!important;
    color: #cccccc;
}

.gallery-nav-link {
    cursor: pointer;
    font-size: 14px;
}

.centered {
    text-align: center;
}



@media (max-width: 768px) {
    img {
        margin-bottom: 10px;
    }
}

